body, html {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(1, 55, 42), black);
    background-attachment: fixed !important;
    font-family: 'Girassol', cursive !important; 
    scroll-behavior: smooth;
}


.bg {
    background-image: url(../img/uvodni-fotka.png);
    filter: blur(6px);
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    height: 120%; 
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    
}

.content {
    z-index: 2;
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -0%);
    font-size: 45px;
    background-color: rgba(38, 138, 100, 0.205);
    text-align: center;
    color: whitesmoke;
    background-image: linear-gradient(to top right,rgba(26, 70, 49, 0.534), #2fad72dc);
    background-origin: border-box;
    padding: 15px;
    border-radius: 6px;
    box-shadow: rgb(13, 92, 54) 1px 1px 70px ;
    

}

.content > h2 {
    font-size: 20px;
}

.content > h1 {
    font-size: 30px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;

}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.61) !important;
    text-align: center;
    overflow: hidden;
}

.dropdown-item {
    font-size: 20px;
    text-align: center;
    transition: 0.6s;
}


.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.986)!important;
    transition: 0.6s;
}

.dropdown-item:active {
    background-color: rgba(15, 48, 26, 0.521) !important;
    transition: 0.4s;
}

.center {
    text-align:center;
    width:100%;
    top: 25%;
    position: absolute;
  }

  @media only screen and (max-width: 1200px) {


    iframe {
        width: 60%;
      }
    .imgsliders {
        width: 60%;
        height: 80%;
    } 
    #asd {
        margin-top: -44%;
    }
}

@media only screen and (max-width: 1000px) {
    #zapati1 {
        border: none !important;
    }
    #zapati2 {
        border: none !important;
    }

    #nebo {
    margin-top: -150px !important;
}
    .flex-box {
    margin-top: 20px !important;
}

@media only screen and (max-width: 800px) {
    iframe {
        width: 80%;
      }
      .imgsliders {
        width: 80%;
        height: 80%;
      }
      #asd {
        margin-top: -20%;
    }

    #nebo {
    margin-top: -250px !important;
}
    .flex-box {
    margin-top: -100px !important;
}
    
}


}
@media only screen and (max-width: 500px) {
    iframe {
        width: 100%;
      }
      .imgsliders {
        width: 100%;
        height: 80%;
      }
      #asd {
        margin-top: -4%;
    }
    #nebo {
        margin-top: -250px !important;
    }
    .flex-box {
        margin-top: -100px !important;
    }
}


@media only screen and (max-height: 1300px) {
    
    #btn-barva {
        margin-top: -50px !important;
    }
    .flex-box {
        margin-top: 50px !important;
    }
}

@media only screen and (max-height: 900px) {
    
    #btn-barva {
        margin-top: 50px;
    }
    .flex-box {
        margin-top: 100px !important;
    }
}

@media only screen and (max-height: 850px) {
    
    #btn-barva {
        margin-top: -0px !important;
    }
    .flex-box {
        margin-top: 50px !important;
    }
}

@media only screen and (max-height: 740px) {
    
    #btn-barva {
        margin-top: 50px !important;
    }
    .flex-box {
        margin-top: 0px !important;
    }
}

@media only screen and (max-height: 600px) {
    
    #btn-barva {
        margin-top: 100px !important;
    }
    .flex-box {
        margin-top: 0px !important;
    }
}

@media only screen and (max-height: 650px) {
    
    #btn-barva {
        margin-top: 120px !important;
    }
    .flex-box {
        margin-top: 0px !important;
    }
}

@media only screen and (max-height: 350px) {
    
    iframe {
        margin-top: 150px;
    }

    #btn-barva {
        margin-top: 450px !important;
    }
    .flex-box {
        margin-top: 0px !important;
    }
}

iframe {
    border-radius: 15px;
}

footer {
    margin-top: 8%;
}

#zapati {
    text-align: center;
    color: whitesmoke;
    margin: auto;
}

#zapati1 {
    text-align: center;
    color: whitesmoke;
    
}

#zapati2 {
    text-align: center;
    color: whitesmoke;
    margin: auto;
}

#neco {
    cursor: pointer;
}

#odkaz {
    color: red;
    background-color: none !important;
}

#odkaz:hover {
    background-color: none !important;
}

#odkaz1 {
    color: black;
}

#odkaz2 {
    color: white;
}

#odkaz3 {
    margin-bottom: 25px;
    padding-left: 5px;
}

#asd {
    text-align: center;
    margin-top: 15%;
} 

#footerr {
    margin-top: 30px;
}

.carousel-inner img {
    margin: auto;
}

button {
    width: 150px;
    height: 60px;
    margin-bottom: 10px !important;
    transition: 1s;
    font-size: 20px !important;
}

button:hover {
    border-radius: 15px 5px 15px 5px;
    transition: 1s;

}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -10px;
 }

h2 {
    color: whitesmoke;
    border-bottom: 2px solid white;
    

}

#nebo {
    position: relative;
    color: white !important;
    margin-top: -25px;
}

#button-stred {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -25%;
    margin-bottom: 10px;
    color: white !important;
}

#p-btn {
    font-size: 20px;
    margin-bottom: -0px;
    margin-top: 90px;
}

#btn-barva {
    display: inline-block;
    text-decoration: none !important;
    color: white !important;
    padding: 25px 45px;
    background: rgb(13, 122, 71);
    box-shadow: 0 9px grey;
    border-radius: 15px;
    transition: 0.4s;
    font-size: 20px;
}

#btn-barva:hover {
    
    transition: 0.4s;
    background: rgb(9, 68, 41);
}

#btn-barva:active {
    background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#top-btn {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: grey;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 50px;
    border-radius: 4px;
  }
  
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px !important;
    width: 100% !important;
    border: none;
    text-align: left !important;
    outline: none;
    font-size: 25px !important;
    height: auto;
    margin-bottom: 0px !important;
    z-index: 10;
  }

  .collapsible:hover {
      background: none !important;
      border: none !important;
      border-radius: 0 !important;
  }

  .active1, .collapsible:hover {
    background-color: #555;
  }

  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active1:after {
    content: "\2212";
  }
  .content1 {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }  