.logo {
    width: 30px !important;
}

.dropdown-item:hover {
    transition: 0.3s;
    background-color: rgb(131, 131, 131) !important;
    color: whitesmoke !important;
}

.nav-link {
    color: rgba(197, 197, 197, 0.856) !important;
}

.nav-link:hover {
    color: rgba(245, 245, 245) !important;
}

.active {
    color: white !important;
}

.dark-mode {
    background-color: black !important;
    color: rgb(240, 240, 240);
}

  .dark-mode > main {
    background-color: rgba(44, 44, 44, 0.973) !important;
    
  } 
  
  .dark-mode h2 {
      text-decoration: underline solid rgb(240, 240, 240) 2px !important;
  } 

.fa-sun-o {
    font-size: 50px !important;
    user-select: none;
    color: white !important;
    cursor: pointer;
}

.fa-moon-o {
    font-size: 50px !important;
    user-select: none;
    color: white !important;
    cursor: pointer;
}