header {
    background-image: url("../img/pozadi-header.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 60px;
    text-align: center;
    border: black 5px solid;

}
 
body {
    background-image: url("../img/wooden-background.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

h1 {
    font-size: 60px !important;
    font-family: 'Girassol', cursive !important;
    text-shadow: 5px 5px 3px black;
}

main {
    border:black solid 2px;
    border-top: none;
    background-color: rgba(245, 245, 245, 0.8505) !important;
}

.active {
    text-decoration: overline solid white 5px !important;
}

.nav-item {
    transition: 0.3s;
    text-decoration: overline solid white 1px;
}

.nav-item:hover {
    text-decoration: overline solid white 5px !important;
    transition: 0.3s;
}

/* #navbarr {
    display: flex !important;
    justify-content: space-evenly !important;
    flex-wrap: wrap !important;
}

.btn-secondary {
    color: white !important;
}

.active {
    background: rgb(82, 82, 82) !important;
}

*/

#center-text {
    margin: 0 auto;
}

nav {
    background-image: url(../img/navbar2.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

a {
    color: whitesmoke !important;
}

h2 {
    text-decoration: underline solid black 2px;
    font-size: 40px !important;
    text-align: center;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

p {
    font-size: 18px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figure {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .main-img {
        width: 80%;
    }
    
}

@media only screen and (max-width: 500px) {
    .main-img {
        width: 100%;
    }
    
}

.dropdown-item {
    color: black !important;
}

#syn:hover {
    background-image: url(../img/syn.png);
    transition: 0.5s;
    color: white !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#ske:hover {
    background-image: url(../img/ske.png);
    transition: 0.5s;
    color: white !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#nor:hover {
    background-image: url(../img/nor.png);
    transition: 0.5s;
    color: white !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#mon:hover {
    background-image: url(../img/mon.png);
    transition: 0.5s;
    color: white !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#sco:hover {
    background-image: url(../img/sco.png);
    transition: 0.5s;
    color: white !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#nil:hover {
    background-image: url(../img/nil.png);
    transition: 0.5s;
    color: white !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#obe:hover {
    background: rgb(126, 126, 126) !important;
    transition: 0.5s;
    color: white !important;
}